 
 body{
     background: #5ec1da;
     background: -moz-linear-gradient(top,#5ec1da);
    background: -webkit-linear-gradient(#5ec1da 0%,#eb36a5);
    background: -o-linear-gradient(#5ec1da 0%,#eb36a5);
    background: linear-gradient(#5ec1da 0%,#eb36a5);
     margin: 4%;
     font-size: 150%;
 }

header{
     background: #9e1d1d;
     text-align: center;
     padding: 14px;
}
header,footer{
    background: #f3f025;
    background: -moz-linear-gradient(top,#f3f025);
    background: -webkit-linear-gradient(#f3f025 0%,#c263ee);
    background: -o-linear-gradient(#f3f025 0%,#c263ee);
    background: linear-gradient(#f3f025 0%,#c263ee);
}
h1{
    font-size: 300%;
    color: rgb(0, 0, 0);
}
nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: stretch;
    align-content: center;
    gap: 1rem;
     font-size: 150%;
     font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
     text-align: center;
}
@media (max-width: 600px) {
    nav {
        gap: 0.5rem;
    }
}
nav a{
    padding: 0.5rem;
    display: flex;
    justify-content: center;
    align-items: center;
    flex: 1 1 calc(25% - 3rem);
    background-color: rgb(22, 14, 5);
    color: rgb(255, 254, 254);
     text-decoration: none;
}
@media (max-width: 800px) {
    nav a {
        flex: 1 1 calc(50% - 2rem);
    }
}
@media (max-width: 600px) {
    nav a {
        flex: 1 1 100%;
    }
}
h2{
    background: #274b2a;
    color: rgb(240, 240, 240);
    border-style: groove;
    padding-left: 4px;
 } 
.half{
    display: inline-block;
    width: 46%;
    float: left;
    margin: 4px;
    padding: 5px;
}

.hafl{
    clear: both;
}

 details{
     font-style: italic;
 }

 summary{
     font-style: normal;
 }

 footer{
     clear: both;
 }
 img{
     width: 110px;
 }
